![rmotr](https://i.imgur.com/jiPp4hj.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/39117440-24199c72-46e7-11e8-8ffc-25c6e27e07d4.jpg"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# Handling Missing Data with Pandas

pandas borrows all the capabilities from numpy selection + adds a number of convenient methods to handle missing values. Let's see one at a time:

![separator2](https://i.imgur.com/4gX5WFr.png)

## Hands on!

**From a technical point of view, fixing missing data is very simple**.

However **from a business point of view it can be complicated**, specially if the missing information is required to be obtained.

**First we need to identify the null values and then we can drop them or fill them.**

Identifying the invalid values can be difficult. Some data may be a valid intenger, but still be a problem given a certain domain. For example, in a field Customer Age, the number 200 would be valid, but give the domain it won't make sense. When working in other domains, it can be dificult to have the knowledge. This is the most complicated part of data cleaning: **knowing if values are valid for the specific domain.**

In [4]:
import numpy as np
import pandas as pd

### Pandas utility functions

Similarly to `numpy`, pandas also has a few utility functions to identify and detect missing values or null values:

pd.isnull() is equivalent to pd.isna()

In terms of Python, anything that is not empy or none is going to be considered to be truthy.

In [5]:
pd.isnull(np.nan)

True

In [6]:
pd.isnull(None)

True

In [7]:
pd.isna(np.nan)

True

In [8]:
pd.isna(None)

True

The opposite ones also exist:

In [9]:
pd.notnull(None)

False

In [10]:
pd.notnull(np.nan)

False

In [11]:
pd.notna(np.nan)

False

In [12]:
pd.notnull(3)

True

These functions also work with Series and `DataFrame`s:

In [13]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [14]:
pd.notnull(pd.Series([1, np.nan, 7]))

0     True
1    False
2     True
dtype: bool

In [15]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

![separator1](https://i.imgur.com/ZUWYTii.png)

### Pandas Operations with Missing Values

Pandas manages missing values more gracefully than numpy. `nan`s will no longer behave as "viruses", and operations will just ignore them completely:

In [16]:
pd.Series([1, 2, np.nan]).count()

2

In [17]:
pd.Series([1, 2, np.nan]).sum()

3.0

In [18]:
pd.Series([2, 2, np.nan]).mean()

2.0

### Filtering missing data

As we saw with numpy, we could combine boolean selection + `pd.isnull` to filter out those `nan`s and null values:

In [19]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [20]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [21]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [22]:
pd.notnull(s).sum()

4

In [23]:
pd.isnull(s).sum()

2

In [24]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

But both `notnull` and `isnull` are also methods of `Series` and `DataFrame`s, so we could use it that way:

In [25]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [26]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [27]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [33]:
s = pd.Series(['a', 3, np.nan, 1, np.nan])
print(s.notnull())

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [34]:
print(s.notnull().sum())

3

![separator1](https://i.imgur.com/ZUWYTii.png)

### Dropping null values

Boolean selection + `notnull()` seems a little bit verbose and repetitive. And as we said before: any repetitive task will probably have a better, more DRY way. In this case, we can use the `dropna` method:

In [28]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

In [29]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

These methods are inmutable. We are not modyfing the original series. A new series is returned

In [30]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

### Dropping null values on DataFrames

You saw how simple it is to drop `na`s with a Series. But with `DataFrame`s, there will be a few more things to consider, because you can't drop single values. You can only drop entire columns or rows. Let's start with a sample `DataFrame`:

In [35]:
df = pd.DataFrame({
    'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
})

In [36]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [37]:
df.shape

(4, 4)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  3 non-null      float64
 2   Column C  3 non-null      float64
 3   Column D  4 non-null      int64
dtypes: float64(3), int64(1)
memory usage: 256.0 bytes

There are 4 entries: 4 rows.

Column A has 2 non-null values (so there are 2 null values).

Column B has 3 non-null values (so there are 1 null values).

In [39]:
df.isnull()

   Column A  Column B  Column C  Column D
0     False     False      True     False
1      True     False     False     False
2     False     False     False     False
3      True      True     False     False

df.isnull().sum() gives us the number of null values we have in the dataframe per each column.

In [40]:
df.isnull().sum()

Column A    2
Column B    1
Column C    1
Column D    0
dtype: int64

The default `dropna` behavior will drop all the rows in which _any_ null value is present:

**dropna works in a dataframe by default by dropping any row that has at least one null value.**

In [41]:
df.dropna()

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In this case we're dropping **rows**. Rows containing null values are dropped from the DF. You can also use the `axis` parameter to drop columns containing null values:

In [42]:
df.dropna(axis=1)  # axis='columns' also works: Drop the columns where at least one element is missing

   Column D
0         5
1         8
2        34
3       110

In this case, any row or column that contains **at least** one null value will be dropped. Which can be, depending on the case, too extreme. You can control this behavior with the `how` parameter. Can be either `'any'` or `'all'`:

In [43]:
df2 = pd.DataFrame({
    'Column A': [1, np.nan, 30],
    'Column B': [2, np.nan, 31],
    'Column C': [np.nan, np.nan, 100]
})

In [44]:
df2

   Column A  Column B  Column C
0       1.0       2.0       NaN
1       NaN       NaN       NaN
2      30.0      31.0     100.0

DataFrame.dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)

https://www.w3resource.com/pandas/dataframe/dataframe-dropna.php

In [47]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

**how** = Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.

**‘all’** : If all values are NA, drop that row or column.

**‘any’** **(default behavior):** If any NA values are present, drop that row or column.

In [48]:
df.dropna(how='all')#Drop the rows where all elements are missing.

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [52]:
df.dropna(how='any')  # default behavior: If any NA values are present, drop that row or column. It shows the rows that have 0 NA values (all values are valid)

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [49]:
df2

   Column A  Column B  Column C
0       1.0       2.0       NaN
1       NaN       NaN       NaN
2      30.0      31.0     100.0

In [51]:
df2.dropna(how='all')#Drop the rows where all elements are missing.

   Column A  Column B  Column C
0       1.0       2.0       NaN
2      30.0      31.0     100.0

In [53]:
df2.dropna(how='any')  # default behavior

   Column A  Column B  Column C
2      30.0      31.0     100.0

**thresh**: Require that many non-NA values.

You can also use the `thresh` parameter to indicate a _threshold_ (a minimum number) of non-null values for the row/column to be kept:

In [54]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [56]:
df.dropna(thresh=3)#Keep only the rows with at least 3 non-NA values:

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34

In [58]:
df.dropna(thresh=3, axis='columns')#Keep only the columns with at least 3 non-NA values:

   Column B  Column C  Column D
0       2.0       NaN         5
1       8.0       9.0         8
2      31.0      32.0        34
3       NaN     100.0       110

![separator1](https://i.imgur.com/ZUWYTii.png)

### Filling null values

Sometimes instead than dropping the null values, we might need to replace them with some other value. This highly depends on your context and the dataset you're currently working. Sometimes a `nan` can be replaced with a `0`, sometimes it can be replaced with the `mean` of the sample, and some other times you can take the closest value. Again, it depends on the context. We'll show you the different methods and mechanisms and you can then apply them to your own problem.

In [59]:
s

0      a
1      3
2    NaN
3      1
4    NaN
dtype: object

**Filling nulls with a arbitrary value**

In [61]:
s.fillna(0)#filling the nulls with zero (0)

0    a
1    3
2    0
3    1
4    0
dtype: object

In [64]:
s.fillna(s.mean())#filling the nulls with the mean.

TypeError: ignored

In [63]:
s

0      a
1      3
2    NaN
3      1
4    NaN
dtype: object

**Filling nulls with contiguous (close) values**

The `method` argument is used to fill null values with other values close to that null one:

ffill = forward fill

bfill = backward fill

ffill is overflowing all values from top to down 

The fillna() method replaces the NULL values with a specified value.

dataframe.fillna(value, method, axis, inplace, limit, downcast)

method: 	
'backfill'
'bfill'
'pad'
'ffill'
None

In [65]:
s.fillna(method='ffill')#starts with the 1st row and fills top-down

0    a
1    3
2    3
3    1
4    1
dtype: object

In [67]:
s.fillna(method='bfill')#starts with the 4th row and fills down-top.

0      a
1      3
2      1
3      1
4    NaN
dtype: object

We need to be careful because as we see in this example, if there are null values at the beginning or the end, these won't be replaced. As it is the first value, there is nothing to be filled from.

This can still leave null values at the extremes of the Series/DataFrame:

In [69]:
pd.Series([np.nan, 3, np.nan, 9]).fillna(method='ffill')

0    NaN
1    3.0
2    3.0
3    9.0
dtype: float64

In [70]:
pd.Series([1, np.nan, 3, np.nan, np.nan]).fillna(method='bfill')

0    1.0
1    3.0
2    3.0
3    NaN
4    NaN
dtype: float64

### Filling null values on DataFrames

The `fillna` method also works on `DataFrame`s, and it works similarly. The main differences are that you can specify the `axis` (as usual, rows or columns) to use to fill the values (specially for methods) and that you have more control on the values passed:

In [71]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [72]:
df.fillna({'Column A': 0, 'Column B': 99, 'Column C': df['Column C'].mean()})

   Column A  Column B  Column C  Column D
0       1.0       2.0      47.0         5
1       0.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3       0.0      99.0     100.0       110

In [73]:
df.fillna(method='ffill', axis=0)#axis=0: columns

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0     100.0       110

In [74]:
df.fillna(method='ffill', axis=1)#axis=1: rows

   Column A  Column B  Column C  Column D
0       1.0       2.0       2.0       5.0
1       NaN       8.0       9.0       8.0
2      30.0      31.0      32.0      34.0
3       NaN       NaN     100.0     110.0

![separator1](https://i.imgur.com/ZUWYTii.png)

### Checking if there are NAs

The question is: Does this `Series` or `DataFrame` contain any missing value? The answer should be yes or no: `True` or `False`. How can you verify it?

**Example 1: Checking the length**

If there are missing values, `s.dropna()` will have less elements than `s`:

In [76]:
s

0      a
1      3
2    NaN
3      1
4    NaN
dtype: object

In [77]:
s.dropna().count()

3

In [78]:
missing_values = len(s.dropna()) != len(s)
missing_values

True

There's also a `count` method, that excludes `nan`s from its result:

In [79]:
len(s)

5

In [80]:
s.count()

3

So we could just do:

In [81]:
missing_values = s.count() != len(s)
missing_values

True

**More Pythonic solution `any` (Boolean tests)**

The methods `any` and `all` check if either there's `any` True value in a Series or `all` the values are `True`. They work in the same way as in Python:

In [82]:
pd.Series([True, False, False]).any()

True

In [83]:
pd.Series([True, False, False]).all()

False

In [84]:
pd.Series([True, True, True]).all()

True

The `isnull()` method returned a Boolean `Series` with `True` values wherever there was a `nan`:

In [85]:
s.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

So we can just use the `any` method with the boolean array returned:

In [86]:
pd.Series([1, np.nan]).isnull().any()

True

In [87]:
pd.Series([1, 2]).isnull().any()

False

In [88]:
s.isnull().any()

True

A more strict version would check only the `values` of the Series:

In [89]:
s.isnull().values

array([False, False,  True, False,  True])

In [90]:
s.isnull().values.any()

True

![separator2](https://i.imgur.com/4gX5WFr.png)